[workspace]
members = [
    "build/kernel-image",
    "build/xtask",

    "saturnus/*",
]

[profile.release]
debug = true
codegen-units = 1
opt-level = 3
lto = "fat"

[profile.dev]
opt-level = "s"
overflow-checks = false
lto = "thin"
